.flyIn-scroller {
	margin-top: 3em;
	overflow: hidden;
}

.flyIn-section {
	margin-bottom: 15em;
}

/* Clear floats of children */
.flyIn-section:before,
.flyIn-section:after {
	content: " ";
	display: table;
}

.flyIn-section:after {
	clear: both;
}

/* Text styling */
.flyIn-section h2 {
	font-size: 5em;
	font-weight: 300;
	line-height: 1;
}

.flyIn-section p {
	font-size: 2em;
	font-weight: 100;
}

/* Sides */
.flyIn-bottom {
	width: 50%;
	float: left;
	margin: 0;
	padding: 3em 4%;
	overflow: hidden;
	min-height: 12em;
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	-moz-transition: -moz-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

/* Clear floats of children */
.flyIn-bottom:before,
.flyIn-bottom:after {
	content: " ";
	display: table;
}

.flyIn-bottom:after {
	clear: both;
}

.flyIn-bottom-right {
	text-align: left;
}

/*.flyIn-bottom-left {*/
	/*text-align: right;*/
/*}*/

/*.flyIn-bottom-right img {*/
	/*float: left;*/
/*}*/

/*.flyIn-bottom-left img {*/
	/*float: right;*/
/*}*/

/* Initial state (hidden or anything else) */
.flyIn-init .flyIn-bottom {
	opacity: 0;
}


.flyIn-init .flyIn-bottom {
	-webkit-transform: translateY(180px);
	-moz-transform: translateY(180px);
	transform: translateY(180px);
}

/* Animated state */
/* add you final states (transition) or your effects (animations) for each side */
.flyIn-section.flyIn-animate .flyIn-bottom {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
	opacity: 1;
}

/* For example, add a delay for the right side:
.flyIn-section.flyIn-animate .flyIn-bottom-right {
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
*/

/* Example media queries */

@media screen and (max-width: 73.5em) {
	.flyIn-scroller {
		font-size: 65%;
	}

	.flyIn-section h2 {
		margin: 0;
	}

	.flyIn-bottom img {
		max-width: 120%;
	}
}

@media screen and (max-width: 41.125em) {
	.flyIn-bottom {
		float: none;
		width: 100%;
	}

	.flyIn-bottom img {
		max-width: 100%;
	}
}

