body {
    /* background-color: #184A69; */
    background-color: #000000;
}

a {
    text-decoration: underline;
}

a:hover {
    color: darkgrey;
}


.prof-pic {
    /*position: relative;*/
    /*width: auto;*/
    width: 100%;
    display: block;
    position: relative;
    border-radius: 15px;
}

/*.cbp-so-scroller {*/
    /*margin-top: 0;*/
/*}*/

#section-1 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../images/GOPR0240.JPG") center no-repeat;
    background-size: cover;
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
}

#section-2 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../images/destin-panorama.JPG") center no-repeat;
    background-size: cover;
}

#section-3 {
    /*background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../images/gopro-skiing-big-accorn.mp4") center no-repeat;*/
    /*background-size: cover;*/
}

#section-4 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../images/rotunda.JPG") center no-repeat;
    background-size: cover;
}

#section-4 img {
    border-radius: 50%;
}

#section-5 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../images/clouds.jpg") center no-repeat;
    background-size: cover;
}

#section-6 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../images/ny-skyline.JPG") center no-repeat;
    background-size: cover;
}

.cbp-so-section {
    width: 100%;
    display: block;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}


video {
    opacity: 0.5;
    position: fixed;
    /* top: 50%; */
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%);
    background-image: url("../images/clouds.jpg");
    background-size: cover;
}

#shrinking-navbar {
    color: white;
    padding: 20px;
    background-image: linear-gradient(to bottom,black 0,black 100%);;
}
