body {
    /* background-color: #184A69; */
    background-color: #000000;
}

.prof-pic {
    position: relative;
    width: auto;
}

.prof-pic {
    width: 100%;
    display: block;
    position: relative;
    border-radius: 15px;
}

/*.cbp-so-scroller {*/
    /*margin-top: 0;*/
/*}*/

#main-page {
    width: 100%;
    display: block;
    position: relative;
}

#main-page::after{
    content: "";
    background: url("../images/GOPR0240.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.4;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

#shrinking-navbar {
    color: white;
    padding: 20px;
    background-image: linear-gradient(to bottom,black 0,black 100%);;
}