$theme-green: #599446;
$theme-blue: #3F77AB;
$theme-white: #E7EBE1;
$theme-red: #822E1E;
$theme-black: #0D0B0C;

$background-color: $theme-black;
$default-font-color: $theme-black;

$time-line-label-color: $default-font-color;
$timeline-color: $theme-green;
$timeline-box-color: transparent;
$timeline-arrow-color: $default-font-color;
$timeline-icon-color: $theme-green;
$timeline-width: 2px;

$default-font-weight: 300;

$font-small: 10px;
$font-medium: 14px;
$font-large: 19px;
$font-xl: 24px;
